
.DS_Store
.idea/compiler.xml
.idea/description.html
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/Maven__com_sun_xml_bind_jaxb_core_2_2_11.xml
.idea/libraries/Maven__com_sun_xml_bind_jaxb_impl_2_2_11.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__org_apache_camel_camel_core_2_19_1.xml
.idea/libraries/Maven__org_apache_camel_camel_spring_2_19_1.xml
.idea/libraries/Maven__org_apache_camel_camel_test_2_19_1.xml
.idea/libraries/Maven__org_apache_camel_camel_test_spring_2_19_1.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_22.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_3_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_3_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_3_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_3_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_3_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_4_3_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_3_8_RELEASE.xml
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/vcs.xml
.idea/workspace.xml
anotherwheel.iml
src/test/resources/
target/
/.idea/
